@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
}
#container {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
}
.login-search {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.login a {
  color: #555;
}
.login a:hover {
  color: rgb(1, 122, 82);
  text-decoration: underline;
}
.search input {
  font-size: 14px;
  color: #555;
  background-color: transparent;
  border: none;
  outline: none;
}
.search button {
  border: none;
  outline: none;
  background: transparent;
}
.fa-search {
  color: rgb(18, 247, 170);
}

/* img */

.image {
  margin-top: 10px;
}
.image img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

/* menu */

.menu {
  width: 100%;
  height: 40px;
  background-color: rgb(23, 184, 130);
  margin-top: -6px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 0 0 3px 3px;
}
.icon-home {
  color: #fff;
  cursor: pointer;
}
.menu-main {
  display: flex;
  list-style: none;
  cursor: pointer;
  z-index: 1;
  font-size: 15px;
  padding-left: 10px;
}
.menu-main a {
  margin-top: 7px;
  text-decoration: none;
  padding: 0px 10px;
  color: #fff;
  text-transform: uppercase;
}
.menu li:hover .dropdown-menu {
  display: block;
}
.fa-caret-down {
  margin-top: 7px;
  margin-left: 10px;
  color: #fff;
}
/* dropdown */

.dropdown-menu {
  background-color: rgb(248, 248, 248);
  display: none;
  position: absolute;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  margin-top: 20px;
  /* padding: 10px 20px; */
  line-height: 35px;
  z-index: 2;
  animation: header-NotifyGrowth ease-in-out 0.3s;
  transform-origin: top center;
}
@keyframes header-NotifyGrowth {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.dropdown-menu li:hover {
  background-color: rgb(23, 184, 130);
}
.dropdown-menu li {
  padding: 0px 10px;
  border-bottom: 1px solid rgb(238, 234, 234);
  list-style: none;
}
/* lopao */
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 3rem;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(226, 222, 222);
  transform: translateY(-100%);
}
.cutngay::before {
  content: "";
  height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}

.chuchay {
  text-transform: uppercase;
  margin-top: 7px;
}
marquee {
  color: rgb(17, 114, 107);
  font-weight: bold;
}

/* slider */

.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
  object-fit: cover;
  border-radius: 2px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1060px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: rgb(243, 237, 237);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #2cccff;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* //// */

.module {
  margin-top: 25px;
  display: flex;
}
.tin-tuc-moi {
  max-width: 720px;
  height: 520px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}
.res {
  margin-top: -20px;
}
.post {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.chu {
  margin-top: 18px;
  font-size: 10px;
  margin-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #009400;
}

.image-slider {
  padding-bottom: 40px;
}
.slider-main-js li {
  list-style: none;
}
.images img {
  object-fit: cover;
  border-radius: 12px;
}
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-arrow {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.slick-prev {
  left: 10px;
  background-color: transparent;
  font-size: 25px;
  color: #d3cfcf;
}
.slick-next {
  right: 10px;
  font-size: 25px;
  color: #d3cfcf;
  background-color: transparent;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}

/* /// */

.thong-bao {
  margin-left: 10px;
  border-radius: 10px;
  border: 2px #009400 dashed;
  height: 520px;
}
.tongthongbao {
  border: 2px solid #009400;
  height: auto;
  border-radius: 10px;
  margin: 10px 5px;
}
.phan5caigioithieu {
  padding-left: 10px;
  padding-right: 10px;
}
.bienche {
  display: flex;
  border-bottom: 1px#009400 dashed;
  gap: 10px;
  /* margin: 10px 0px; */
  padding: 10px 0px;
  cursor: pointer;
  align-items: center;
}
.chubienche p {
  font-size: 14px;
  font-weight: 600;
}
.chubienche p:hover {
  color: #009400;
  text-decoration: underline;
  cursor: pointer;
}
.thank {
  text-align: center;
  padding-top: 8px;
}
.thank a:hover {
  text-decoration: underline;
}

/* /// */

.nha-truong {
  max-width: 730px;
}
.img-chu {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 150px;
}
.cpane {
  margin-top: 40px;
  /* position: absolute; */
}
.cpane a {
  padding-left: 10px;
  /* padding-top: -40px; */
  font-weight: bold;
  color: #009400;
}
.imgest img {
  border: 1px solid #cccaca;
  padding: 5px;
  border-radius: 2px;
}
.imgest span {
  font-weight: 600;
  font-size: 14px;
}
.chu-main li {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 600;
}
.chu-main {
  margin-top: -15px;
}
.chu-main li:hover {
  color: #009400;
  text-decoration: underline;
  cursor: pointer;
}

/* // */

.tong2 {
  display: flex;
}

.thong-tin-nha-truong {
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px #009400 dashed;
  max-width: 100%;
  width: 330px;
}
.lichcongtac {
  border: 2px solid #009400;
  border-radius: 10px;
  height: 285px;
  margin: 10px 5px;
  padding: 0px 10px;
}
.fa-folder {
  margin-right: 5px;
}
.collapsible span {
  color: red;
}
.chuphanthongbao li {
  list-style: none;
}

/* dropdown */

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: transparent;
}
.collapsible:after {
  content: "\002B";
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.content {
  padding: 0 18px;
  display: flex;
  gap: 7px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* // k có khung ---- */

.lichcongtacs {
  border: 2px solid #009400;
  border-radius: 10px;
  margin: 20px 5px;
  padding: 0px 10px;
  margin-left: 10px;
  height: 250px;
}

/* tong2caikhongkhung */

.tong2caikhongkhung {
  margin-left: 22px;
  margin-top: -25px;
  border-bottom: 1px solid #f2f2f2;
}

/* tong2khungphan2 */

.tong2caikhongkhungphan2 {
  /* margin-left: 22px; */
  margin-top: 60px;
  margin-bottom: 10px;
}

.video-youtube {
  margin-left: 20px;
  margin-top: 40px;
}

/* /// */
.kaka {
  display: flex;
  margin-top: 30px;
  position: relative;
  justify-content: space-between;
}
.viettel {
  height: auto;
  border-radius: 10px;
  margin: 10px 5px;
  margin-top: -3px;
  /* position: absolute; */
}
.cpanes {
  margin-top: 10px;
}
.cpanes a {
  padding-left: 10px;
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #009400;
  font-weight: 600;
}
#subject {
  margin-bottom: 100px;
  display: block;
  /* width: 100%; */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/*  */
.response {
  height: auto;
  border-radius: 10px;
  margin: 10px 5px;
  margin-top: -75px;
  position: relative;
}

/*  */

.statistical {
  position: absolute;
  height: auto;
  border-radius: 10px;
  margin: 10px 5px;
  margin-top: -80px;
}

/* // thống kê // */

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

/* phancuoi */

.footer {
  background: url(https://edu.viettel.vn/upload/20673/fck/bg-footer.jpg)
    repeat-x bottom center;
  min-height: 250px;
  margin-top: 80px;
  text-align: center;
}
.contact-footer {
  padding-top: 100px;
}
.contact-footer h2 {
  text-transform: uppercase;
  color: #009400;
  font-size: 20px;
  font-weight: bold;
}
.contact-footer span {
  padding-bottom: 10px;
}

/* // scroll to top // */

.scroll-btn {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.scroll-btn:hover {
  color: gray;
}

/* ---------------------------------------------------------------------------------------------------------------------- giới thiệu ------------------------------------------------------------------------------------------------------------------ */
.gioi-thieu a {
  font-weight: bold;
  color: #000;
}
.gioi-thieu h1 {
  font-size: 30px;
  padding: 40px 10px;
}
.gioi-thieu p {
  padding-top: 50px;
  font-weight: 500;
}
.kkk {
  margin-top: 60px;
}

/* ---------------------------------------------------------------------------------------------------------------------- tin tức------------------------------------------------------------------------------------------------------------------ */

.tin-tuc {
  display: flex;
  gap: 20px;
  width: 705px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.chu-tin-tuc h3 {
  font-size: 17px;
  padding-bottom: 10px;
}
.chu-tin-tuc span {
  font-size: 16px;
}

/* ---------------------------------------------------------------------------------------------------------------------- quản lí cán bộ
------------------------------------------------------------------------------------------------------------------ */

.phantentuoi {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px 10px;
  padding-bottom: 0;
  width: 705px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.ten {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  clear: both;
  padding-bottom: 15px;
}
.chucvu {
  padding-top: 10px;
}
